@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap");

/* Estilos para o menu de navegação */

.mainNav {
  height: 100vh;
  width: 100vw;
  background-image: url("/background.png");
  background-size: auto;
  position: relative;
}
.h1Nav {
  font-size: 32px;
  font-weight: 400;
  font-family: "Roboto Slab", "Monteserrat", sans-serif;
}
.cardNav {
  box-sizing: border-box;
  position: relative;
  z-index: 2;
  /* width: 500px; */
  background-color: white;
  border-radius: 12px;
  padding: 32px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 24px;
  text-align: center;
}

.linkListNav {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.linkButtonNav {
  color: #000;
  background-color: #f1b434;
  font-weight: 400;
  padding: 10px 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  line-height: 1.25;
  border-radius: 8px;
}

a.linkButtonNav:hover {
  color: #fff;
}

.overlayNav {
  background-color: rgba(0, 0, 0, 0.9);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 48px;
}

@media screen and (min-width: 1024px) {
  .linkButtonNav {
    min-width: 310px;
  }
}
